<div class="container">
    <h1>User info</h1>
    <div class="row">
        <div class="col-sm-12 colmd-8 col-lg-6">
              
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 colmd-8 col-lg-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 colmd-8 col-lg-6">
            
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
