<h1>User info</h1>

<table class="User_info">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th>名前</th>
    </tr>
    <tr>
      <th>introduction</th>
      <th>自己紹介文</th>
    </tr>
  </tbody>
</table>
<div class="edit-link">
  
  <a class="btn btn-outline-dark btn-block" href="edit_user_path(user.id)">
    <i class="fa-solid fa-user-gear"></i>
  </a>
</div>

<h1>New book</h1>

